<h1>Home#index</h1>
<p>首页</p>



<hr>
<%= link_to 'New Message', new_message_path %> |
<%= link_to 'New Project', new_project_path %> |
<%= link_to 'New Pem', new_pem_path %> |
<%= link_to 'New Token', new_token_path %>